body {
	width:100%;
	height:100%;
	margin:0px;
	font-family:Tahoma,Helvetica, sans-serif;
	color: white;
	background:rgba(22,22,35,.8);
}

h1 {
	font-size:1.2em;
	margin-top:0;
	armgin-bottom:5px;
}

select {
	width:100%;
	font-size:1em;
	border-radius:5px;
}

#map {
	width:100%;
	height:100%;
	z-index:1;
}

#left-panel {
	position:absolute;
	top:5px;
	left:5px;
	width:215px;
	z-index:3;
	background:rgba(22,22,35,.8);
	padding:12px;
    border-radius:10px;
}

#station-tooltip {
  position: absolute;
  z-index:2;
  text-align: center;
  padding: 5px;
  font: 10px sans-serif;
  background:rgba(22,22,35,.8);
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  top:0px;
  left:0px;
  opacity:0;
}

#station-tooltip-name {
	font-weight:bold;
}

#map-loading {
	position:absolute;
	top:45%;
	left:45%;
	z-index:4;
	padding:12px;
	background:rgba(22,22,35,.8);
	border-radius:10px;
}
